include MANIFEST.in
include README.rst
include rpmkit.spec.in
include setup.py
include aux/*
include tools/*
include examples/*
include po/*.po
recursive-include rpmkit *.py *.mo
recursive-include data *.j2 *.yml
recursive-include etc *.yml *.ini *.ini.* *.cron
include etc/cron.daily *.cron
