<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RPM Dependency Graph: root = {{ root }}</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/d3.css" />
    <!-- <script src="http://d3js.org/d3.v3.min.js"></script> -->
    <script src="../../js/d3.v3.min.js"></script>
    <script src="../../js/d3-svg.js"></script>
  </head>
  <body>
    <div id="wrap">
      <div id="svg_charts">
        <svg id="{{ svgid }}" width="{{ diameter }}" height="{{ diameter }}"/>
      </div>
    <!--
      <div class="controller" >
        <div class="current_scale"><span id="current_scale"/>scale = 1.0</div>
        <input type="submit" id="zoom_in" value="+"/>
        <input type="submit" id="zoom_out" value="-"/>
        <input type="submit" id="reset_zoom" value="reset"/>
        <input type="submit" id="switch_to_highlight_update_rpms" value="Highlight update RPMs"/>
        <input type="submit" id="reset_hightlights" value="Reset highlights"/>
      </div>
    -->
    </div>
    <!-- It seems that d3 cannot wait the entire DOM is ready. -->
    <script>
      render_tree("{{ svgid }}", "{{ jsonfile }}", {{ diameter }}, {{ with_label }});
    </script>
  </body>
</html>
<!-- vim:sw=2:ts=2:et:
-->
