{%- if jquery_ui_css is not defined -%}
{%-     set jquery_ui_css = 'http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css' -%}
{%- endif -%}
{%- if jquery_url is not defined -%}
{%-     set jquery_url = 'http://code.jquery.com/jquery-1.10.2.js' -%}
{%- endif -%}
{%- if jquery_ui_url is not defined -%}
{%-     set jquery_ui_url = 'http://code.jquery.com/ui/1.10.4/jquery-ui.js' -%}
{%- endif -%}
{%- if jquery_datatables_url is not defined -%}
{%-     set jquery_datatables_url = 'http://cdn.datatables.net/1.10.0/js/jquery.dataTables.js' -%}
{%- endif -%}
{%- if jquery_datatables_css is not defined -%}
{%-     set jquery_datatables_css = 'http://cdn.datatables.net/1.10.0/css/jquery.dataTables.css' -%}
{%- endif -%}
{#- see: http://www.datatables.net/manual/styling/jqueryui -#}
{%- if jquery_datatables_ui_url is not defined -%}
{%-     set jquery_datatables_ui_url = 'http://cdn.datatables.net/plug-ins/be7019ee387/integration/jqueryui/dataTables.jqueryui.js' -%}
{%- endif -%}
{%- if jquery_datatables_ui_css is not defined -%}
{%-     set jquery_datatables_ui_css = 'http://cdn.datatables.net/plug-ins/be7019ee387/integration/jqueryui/dataTables.jqueryui.css' -%}
{%- endif -%}
{%- if title is defined -%}
{%-    set doc_title = title -%}
{%- elif main.title is defined -%}
{%-    set doc_title = main.title -%}
{%- else -%}
{%-    set doc_title = 'ylc - updates and installed RPMs, and errata tables' -%}
{%- endif -%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ doc_title }}{{ ': %s' % main.model if main.model is defined }}</title>
    {% if main_css is defined %}<link rel="stylesheet" href="{{ main_css }}">{% endif %}
    <link rel="stylesheet" href="{{ jquery_ui_css }}">
    <link rel="stylesheet" href="{{ jquery_datatables_css }}">
    <link rel="stylesheet" href="{{ jquery_datatables_ui_css }}">
    <noscript>Please enable JavaScript in your browser to view this page as intended.</noscript>
    <script src="{{ jquery_url }}"></script>
    <script src="{{ jquery_ui_url }}"></script>
    <script src="{{ jquery_datatables_url }}"></script>
    <script src="{{ jquery_datatables_ui_url }}"></script>
    <script>
$(function() {
  $( "#tabs" ).tabs();
  $( "#updatesRpmsTable" ).dataTable(
    {
      "ajax": {
        "url": "updates.json",
        "dataSrc": "data"
      },
      "pageLength": 20,
      "columns": [ { data: 'name' },
                   { data: 'version' },
                   { data: 'release' },
                   { data: 'arch' },
                   { data: 'epoch' } ]
    }
  );
  $( "#errataTable" ).dataTable(
    {
      sAjaxSource: "errata.json",
      sAjaxDataProp : "data",
      pageLength: 20,
      aoColumns: [ { sTitle: 'Advisory',
                     mData: 'advisory',
                     mRender: function(data, type, full) {
                        return '<a href="https://rhn.redhat.com/errata/' + data.replace(':', '-') + '.html">' + data + '</a>';
                     },
                   },
                   { sTitle: 'Errata Type', mData: 'type' },
                   { sTitle: 'Severity (RHSA only)', mData: 'severity' } ]
    }
  );
  $( "#installedRpmsTable" ).dataTable(
    {
      "ajax": {
        "url": "installed.json",
        "dataSrc": "data"
      },
      "pageLength": 20,
      "columns": [ { data: 'name' },
                   { data: 'version' },
                   { data: 'release' },
                   { data: 'arch' },
                   { data: 'epoch' } ]
    }
  );
});
    </script>
  </head>
  <body>
    <h1>{{ doc_title }}{{ ': %s' % main.model if main.model is defined }}</h1>
    <div id="summary">
      <p>{{ summary|default('Here are update and installed RPMs, and errata list tables.') }}</p>
    </div>
    <div id="tabs">
      <ul>
        <li><a href="#tab-updates">Update RPMs</a></li>
        <li><a href="#tab-errata">Errata</a></li>
        <li><a href="#tab-installed">Installed RPMs</a></li>
      </ul>
      <div id="tab-updates">
        <h2>{{ updates_title|default('Update RPMs') }}</h2>
        <div id="updates-summary">
          <p>{{ updates_summary|default('Update RPMs: ') }}
             [<a href="updates.csv">CSV</a>] | [<a href="updates.json">JSON</a>]
          </p>
        </div>
        <table id="updatesRpmsTable" class="updates" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Version</th>
              <th>Release</th>
              <th>Arch</th>
              <th>Epoch</th>
            </tr>
          </thead>
          <!--
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Version</th>
              <th>Release</th>
              <th>Arch</th>
              <th>Epoch</th>
            </tr>
          </tfoot>
          -->
        </table>
      </div>
      <div id="tab-errata">
        <h2>{{ errata_title|default('Errata') }}</h2>
        <div id="errata-summary">
          <p>{{ errata_summary|default('Errata: ') }}
             [<a href="errata.csv">CSV</a>] | [<a href="errata.json">JSON</a>]
          </p>
        </div>
        <table id="errataTable" class="errata" cellspacing="0">
          <thead>
            <tr>
              <th>Advisory</th>
              <th>Type</th>
              <th>Severity</th>
            </tr>
          </thead>
          <!--
          <tfoot>
            <tr>
              <th>Advisory</th>
              <th>Type</th>
              <th>Severity</th>
            </tr>
          </tfoot>
          -->
        </table>
      </div>
      <div id="tab-installed">
        <h2>{{ installed_title|default('Installed RPMs') }}</h2>
        <div id="installed-summary">
          <p>{{ installed_summary|default('Installed RPMs: ') }}
             [<a href="installed.csv">CSV</a>] | [<a href="installed.json">JSON</a>]
          </p>
        </div>
        <table id="installedRpmsTable" class="installed" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Version</th>
              <th>Release</th>
              <th>Arch</th>
              <th>Epoch</th>
            </tr>
          </thead>
          <!--
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Version</th>
              <th>Release</th>
              <th>Arch</th>
              <th>Epoch</th>
            </tr>
          </tfoot>
          -->
        </table>
      </div>
    </div>
  </body>
</html>
<!-- vim:sw=2:ts=2:et:
-->
