{%- if jquery_ui_css is not defined -%}
{%-     set jquery_ui_css = 'http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css' -%}
{%- endif -%}
{%- if jquery_url is not defined -%}
{%-     set jquery_url = 'http://code.jquery.com/jquery-1.10.2.js' -%}
{%- endif -%}
{%- if jquery_ui_url is not defined -%}
{%-     set jquery_ui_url = 'http://code.jquery.com/ui/1.10.4/jquery-ui.js' -%}
{%- endif -%}
<!doctype html>
<html lang="{{ lang|default('en') }}">
  <head>
    <meta charset="utf-8">
    <title>{{ title|default('ylc - top') }}</title>
    {% if main_css is defined %}<link rel="stylesheet" href="{{ main_css }}">{% endif %}
    <link rel="stylesheet" href="{{ jquery_ui_css }}">
    <script src="{{ jquery_url }}"></script>
    <script src="{{ jquery_ui_url }}"></script>
    <script>
$(function() {
  $( "#tabs" ).tabs();
  $.ajax({
    url: "timestamp.txt",
    dataType: "text"
  }).done(function( timestamp ) {
    $( "#timestamp" ).text( timestamp );
  }).fail(function( timestamp ) {;
    $( "#timestamp" ).text( "Unknown" );
  });
  {% for tgt in targets -%}
  $.ajax({
    url: "{{ tgt.baseurl }}/timestamp.txt",
    dataType: "text"
  }).done(function( timestamp ) {
    $( "#{{ tgt.name }}-timestamp" ).text( timestamp );
  }).fail(function( timestamp ) {;
    $( "#{{ tgt.name }}-timestamp" ).text( "Unknown" );
  });
  {% endfor %}
});
    </script>
  </head>
  <body>
    <h1>{{ title|default('ylc - top') }}</h1>
    <p>Last-updated: <span id="timestamp"></span></p>
    <p>{{ caution|default('Caution: These data is provided as just a reference information and we do not guarantee the information is correct and/or up-to-date. Please refer to the information provided at <a href="https://access.redhat.com">the Red Hat wwww site</a> also to get the latest and official information.') }}
    </p>
    <div id="tabs">
      <ul>
        {% for tgt in targets %}<li><a href="#tabs-{{ loop.index }}">{{ tgt.name }}</a></li>
        {% endfor %}
      </ul>
      {% for tgt in targets -%}
      <div id="tabs-{{ loop.index }}">
        <h2>{{ tgt.name }}</h2>
        <div id="summary-{{ loop.index }}">
          <p>{{ tgt.summary|default('') }}
          {%- if tgt.settings_filename is defined and tgt.settings_filename -%}
          : <span><a id="{{ tgt.name }}-settings" href="{{ tgt.baseurl }}/{{ tgt.settings_filename }}">{{ tgt.settings_title|default('Settings file') }}</a></span>
          {%- endif %}
          </p>
          {% if tgt.show_tables_link is defined and tgt.show_tables_link -%}
          <p><a id="{{ tgt.name }}-tables" href="{{ tgt.baseurl }}/index.html">{{ tables_link_desc|default('Details') }}</a></p>
          {%- endif %}
          <p>Last-updated (CSV/JSON data): <span id="{{ tgt.name }}-timestamp"></span></p>
          <!--
          <div id="{{ tgt.name }}-enabledrepos">
            <p>Enabled yum repos:</p>
            <ul>
              {% for repo in tgt.enabledrepos %}<li>{{ repo }}</li>
              {% endfor %}
            </ul>
          </div>
          -->
        </div>
        <ul>
          <li class="updates">Update RPMs:
                [<a href="{{ tgt.baseurl }}/updates.csv">CSV</a>] |
                [<a href="{{ tgt.baseurl }}/updates.json">JSON</a>]
          </li>
          <li class="errata">Errata:
                [<a href="{{ tgt.baseurl }}/errata.csv">CSV</a>] |
                [<a href="{{ tgt.baseurl }}/errata.json">JSON</a>]
          </li>
          <li class="installed">Installed RPMs:
                [<a href="{{ tgt.baseurl }}/installed.csv">CSV</a>] |
                [<a href="{{ tgt.baseurl }}/installed.json">JSON</a>]
          </li>
          <!--
          <li class="obsoletes">Obsolete RPMs:
                [<a href="{{ tgt.baseurl }}/obsoletes.csv">CSV</a>] |
                [<a href="{{ tgt.baseurl }}/obsoletes.json">JSON</a>]
          </li>
          -->
        </ul>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
<!-- vim:sw=2:ts=2:et:
-->
